/* This CSS file is written by 9hax.
 * I apologize for any bad code.
 * Have you ever found the Ogre with 7 legs?
 */
/* general styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
}

.main-page {
  margin: 10px;
}

@media screen and (min-width: 780px) {
  .main-page {
    padding-left: 10%;
    padding-right: 10%;
  }
}

h1, h2, h3, h4, h5, h6 {
  background: #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  /* maximum curve for a height under 60px */
  width: fit-content;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
}

p {
  padding: 5px
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
}

/* page title box styling */
.central-box {
  background-color: #0003;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.page-title {
  font-family: 'Comfortaa';
  font-size: 60px;
  text-align: left;
}

.central-box .description {
  font-size: 20px;
  text-align: left;
}

@media screen and (max-width: 780px) {

  /* mobile layout compatibility */
  .central-box {
    width: 100%;
  }

  .page-title {
    font-size: 40px;
    text-align: center;
  }
}

/* buttons

<a href="#" class="myButton">black</a>

.myButton {
	background-color:#000000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:nhone;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

        */
/* grids! */
.container {
  background-color: #0002;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 5px;
}

/* Color management for custom colored elements */
.color-red {
  border-color: #700b;
  border-width: 2px;
}

.color-green {
  border-color: #070b;
  border-width: 2px;
}

.color-blue {
  border-color: #007b;
  border-width: 2px;
}

.color-yellow {
  border-color: #770b;
  border-width: 2px;
}
